################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Atria/.vs
/Atria/Guia_Configuracao_Projeto_Atria.txt
