################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
[Oo]bj/
[Bb]in/
/src/atria/data/Migrations/
/src/Atria/Migrations
/src/Atria/.vs

/src/Atria/Properties
/src/Atria/CORRECAO_CHAT_NOTIFICACOES.md
/src/Atria/CORRECAO_ERRO_PERFIL.md
/src/Atria/GUIA_USO_NOTIFICACOES_SEGUIDORES.md
/src/Atria/IMPLEMENTACAO_NOTIFICACOES_SEGUIDORES.md
/src/Atria/Atria.csproj.user
